<nav class="c-navigation">
  <ul class="c-navigation__primary">
    {{#get "navigation" label="main"}}
      {{#foreach navigation}}
        {{#if (not (or (eq label "Signup") (eq label "Signin")))}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{/if}}
      {{/foreach}}
      {{#if @member}}
        <li><a href="/premium-membership">Premium Membership</a></li>
      {{else}}
        {{#get "navigation" label="main"}}
          {{#foreach navigation}}
            {{#if (eq label "Signup")}}
              <li><a href="{{url}}">{{label}}</a></li>
            {{/if}}
          {{/foreach}}
        {{/get}}
        {{#get "navigation" label="main"}}
          {{#foreach navigation}}
            {{#if (eq label "Signin")}}
              <li><a href="{{url}}">{{label}}</a></li>
            {{/if}}
          {{/foreach}}
        {{/get}}
      {{/if}}
    {{/get}}
  </ul>
  <ul class="c-navigation__secondary">
    {{#get "navigation" label="secondary"}}
      {{#foreach navigation}}
        {{#if (not (or (eq label "Signup") (eq label "Signin")))}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{/if}}
      {{/foreach}}
      {{#if @member}}
        <li><a href="/premium-membership">Premium Membership</a></li>
      {{else}}
        {{#get "navigation" label="secondary"}}
          {{#foreach navigation}}
            {{#if (eq label "Signup")}}
              <li><a href="{{url}}">{{label}}</a></li>
            {{/if}}
          {{/foreach}}
        {{/get}}
        {{#get "navigation" label="secondary"}}
          {{#foreach navigation}}
            {{#if (eq label "Signin")}}
              <li><a href="{{url}}">{{label}}</a></li>
            {{/if}}
          {{/foreach}}
        {{/get}}
      {{/if}}
    {{/get}}
  </ul>
</nav>
